#TopLabel {
    top: 0;
    left: 0;
    width: 100%;
    height: 11%;
    z-index: 1002;
    padding: 0 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: fixed;
    background-color: #333;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.TopSubLabel {
    position: relative;
    width: 65%;
    left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 18px;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 9px 60px;
    text-decoration: none;
    font-size: 27px;
    font-family: 幼圆, serif;
}

li a:hover:not(.active) {
    background-color: #111;
}

#Scroll {
    position: absolute;
    width: 100%;
    height: 1500px;
    top: 12%;
    left: 0;
}

.LineGraphPane {
    position: absolute;
    width: 94%;
    height: 72%;
    top: 20%;
    left: 3%;
}

#DataTablePane {
    position: absolute;
    width: 84%;
    height: 72%;
    top: 88%;
    left: 8%;
}

#FansCorrelation01 {
    position: absolute;
    top: 165%;
    left: 9%;
    width: 38%;
    height: 90%;
    white-space: pre;
}

#FansCorrelation02 {
    position: absolute;
    top: 165%;
    right: 7%;
    width: 38%;
    height: 90%;
    white-space: pre;
}

.dateSelect{
    position: absolute;
    width: 40%;
    height: 1%;
    top: 14%;
    right: 100px;
}